{
  "exclude": [".test.[jt]sx?$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "externalHelpers": true
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}
